// my variable
$bg-logo-color: #2980c7;

$show-button-color: #148eff;
$text-color: #4c5773;
$bg-color: #1c1c1c;
$bg-btn-color: #509ee3;
$bg-color: #f9fbfc;

//gray
$gray_1: #ffffff;
$gray_4: #f0f0f0;
$gray_5: #d9d9d9;
$gray_6: #bfbfbf;
$gray_7: #8c8c8c;
$gray_9: #434343;
$gray_13: #000000;

//blue
$blue_1: #e6f7ff;
$blue_2: #bae7ff;
$blue_3: #91d5ff;
$blue_4: #69c0ff;
$blue_5: #40a9ff;
$blue_6: #1890ff;
$blue_7: #096dd9;
$blue_8: #0050b3;
$blue_9: #003a8c;
$blue_10: #002766;

//danger
$red_4: #ff7875;

// green
$green_6: #52c41a;
