@import '../styles/index.scss';

.root {
  .footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    padding: 12px 20px;

    width: 100%;
    // background-color: #f5f5f5;
    z-index: 101;
  }
}
